<div class="dawn" aria-hidden="true">
  <span class="dawn-star" style="left:12%;top:22%;width:2px;height:2px"></span>
  <span class="dawn-star" style="left:28%;top:12%;width:1.5px;height:1.5px"></span>
  <span class="dawn-star" style="left:44%;top:30%;width:2px;height:2px"></span>
  <span class="dawn-star" style="left:63%;top:16%;width:1.5px;height:1.5px"></span>
  <span class="dawn-star" style="left:78%;top:26%;width:2px;height:2px"></span>
  <span class="dawn-star" style="left:88%;top:14%;width:1.5px;height:1.5px"></span>
</div>
